@import "./variables";
@import "./sliderbar.scss";
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: $textSizeDefault;
  background-color: $htmlBg;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
#app {
  height: 100%;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}
.aixin {
  color: #f00;
}
div:focus {
  outline: none;
}
ul, ol {
  margin: 0;
  padding: 0;
}
// 页面右边：主体部分
.main-container {
  min-height: 100%;
  transition: margin-left .28s;
  margin-left: 220px;
  position: relative;
}
// 页面左边：侧边栏
.sidebar-container {
  transition: width 0.28s;
  width: 220px !important;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow-y: auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) !important;
}
// 页面右边 内容区域
.app-container {
  min-height: calc(100vh - 106px);
  margin: 15px;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: $appMainBg;
  position: relative;
  overflow: hidden;
  .container-nav-class {
    width: 280px;
    height: calc(100vh - 106px);
    overflow: auto;
    float: left;
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.2) !important;
    .container-nav-sliderbar {
      margin: 10px;
      .is-active {
        background-color: #93a9b12e!important;
        color: #f00!important;
      }
    }
  }
  .container-main {
    overflow: auto;
    float: left;
  }
}
.el-menu-item {
  font-size: 15px!important;
  padding: 0;
}
.sider-background {
  background-color: $menuDefaultBg;
  .is-active {
    background-color: #59bbff!important;
    color: #fff!important;
  }
}
.el-menu {
  border: 0;
}
.plat-title {
  width: 220px;
  height: 220px;
  line-height: 220px;
  text-align: center;
  background-color: $menuDefaultBg;
  .en-pig {
    vertical-align: middle;
    margin: 0 9px;
    width: 120px;
    display: inline-block;
    border-radius: 50%;
  }
}
.svg-icon {
  margin-right: 10px;
  margin-bottom: -2px;
}

// 页面右边 底部区域
.footer {
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: $html-footer-color;
  font-weight: 900;
}